* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {

    --text-color: #ffffff;

}

.header {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(28, 148, 218);
    height: 100px;

    box-shadow: 5px 5px 5px -2px gray;
}

.header-heading {
    text-transform: uppercase;
    font-size: 40px;
}

.main-container {
    display: flex;
}

.add-book-container {
    display: flex;
    justify-content: center;
    flex: 1;
    background-color: red;
}

.add-book-heading {
    align-self: center;
}

form {
    width: 100%;
    background-color: rgb(44, 43, 43);
    border-radius: 5px;
    padding: 10px;
    transition: all 0.7s ease-in-out;
}

.form-container {
    background-color: rgb(21, 21, 21);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 15px;
    padding: 25px;
}

.added-books-container {
    display: flex;
    justify-content: center;
    flex: 2;
    width: 100%;
    height: 100vh;
    background-color: orange;
}

h1,
h2 {
    text-transform: uppercase;
    font-size: 25px;
}

.book-wrapper {
    display: flex;
    flex-direction: column;

}

.book-wrapper > p {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.book-status {
    display: flex;
    justify-content: center;
    gap: 10px;
    color: var(--text-color);
}

/* inputs style */

fieldset {
    border: 0;
    padding: 5px;
}

legend {
    text-align: center;
    color: var(--text-color);
}

.book-wrapper > p > label {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--text-color);

    letter-spacing: 1px;
}

.book-wrapper > p > input {
    color: var(--text-color);
    background-color: #463e3e;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    outline: none;
    border: 0;
}

.book-wrapper > p > input:focus {
    outline: none;
    border: 1px solid rgb(138, 214, 215);
}

.book-wrapper > button {
    align-self: center;
    width: 50%;
    padding: 5px;
    
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;

    margin-top: 10px;
    margin-bottom: 10px;
}

.add-book {
    font-size: 50px;
    color: #463e3e;
    cursor: pointer;
    
}

/* Buttons */

.add-book-btn {
    cursor: pointer;

    border: 0;
    outline: none;
    border-radius: 5px;

    color: var(--text-color);
    background-color: rgba(240, 34, 34, 0.774);
}

.add-book-btn:hover {
    background-color: rgba(240, 34, 34, 0.903);    

}