* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --main-bg-color: rgb(21, 21, 21);
    --elements-main-bg-color: rgb(44, 43, 43);
    --inputs-color: #463e3e;
    --text-color: #ffffff;
    --main-cta-color: rgba(240, 34, 34, 0.774); 
    --main-cta-color-hover: rgba(240, 34, 34, 0.903);

}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px;
    gap: 25px;

    background-color: var(--main-bg-color);
    height: 150px;

    border-bottom: 1px solid var(--inputs-color);
}

.header-heading {
    justify-self: center;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 40px;

    color: rgb(28, 148, 218);
}

.logo {
    justify-self: flex-start;
    width: 72px;
}

.main-container {
    display: flex;
}

.add-book-container {
    display: flex;
    justify-content: center;
    flex: 1;
}

.add-book-heading {
    color: var(--text-color);
    align-self: center;
}

form {
    width: 100%;
    background-color: var(--elements-main-bg-color);
    border-radius: 5px;
    padding: 10px;
    transition: all 0.7s ease-in-out;
}

.form-container {
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 15px;
    padding: 25px;
}

.added-books-container {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
    flex: 2;
    width: 100%;
    height: 100vh;

    background-color: var(--main-bg-color);
    color: var(--text-color);

    gap: 15px;
    padding: 25px;
    
}

h1,
h2 {
    text-transform: uppercase;
    font-size: 25px;
}

.book-wrapper {
    display: flex;
    flex-direction: column;

}

.book-wrapper > p {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.book-status {
    display: flex;
    justify-content: center;
    gap: 10px;
    color: var(--text-color);
}

/* inputs style */

fieldset {
    border: 0;
    padding: 5px;
}

legend {
    text-align: center;
    color: var(--text-color);
}

.book-wrapper > p > label {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--text-color);

    letter-spacing: 1px;
}

.book-wrapper > p > input {
    color: var(--text-color);
    background-color: #463e3e;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    outline: none;
    border: 0;
}

.book-wrapper > p > input:focus {
    outline: none;
    border: 1px solid rgb(138, 214, 215);
}

.book-wrapper > button {
    align-self: center;
    width: 50%;
    padding: 5px;
    
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;

    margin-top: 10px;
    margin-bottom: 10px;
}

.add-book {
    font-size: 50px;
    color: var(--main-cta-color);
    cursor: pointer;

    transition: all 0.6s;
}

.add-book:hover {
    color: var(--main-cta-color-hover);
   
}

/* Buttons */

.add-book-btn {
    cursor: pointer;

    border: 0;
    outline: none;
    border-radius: 5px;

    color: var(--text-color);
    background-color: var(--main-cta-color);

    transition: all 0.6s;
}

.add-book-btn:hover {
    background-color: var(--main-cta-color-hover);
    transform: scale(1.1);

}

tr {
    border: 1px solid black;
    padding: 20px;
}

tr > td {
    padding: 10px 25px 10px 25px;
    border: 1px solid black;
}

tr > th {
    padding: 10px;
}

table {
    
    background-color: rgb(162, 162, 162);

    border-radius: 5px;
}

th,
td,
tr {
    background-color: var(--elements-main-bg-color);
    color: var(--text-color);
    border-radius: 5px;
}

th {
    font-weight: 700;
    background-color: rgb(28, 148, 218);
}

tr > td:last-child {
    text-align: center;
}

.mdi-delete {
    cursor: pointer;
    font-size: 32px;
    color: var(--main-cta-color);
}

.mdi-delete:hover {
    color: var(--main-cta-color-hover);
}